<template name="form">
    <form>
        <input type="file" />
        <button>Submit</button>
    </form>
</template>

<template name="post">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}}
            <img src="{{this.url}}" />
        </div>
        {{/each}}
    </div>
</template>